.cards {
  display: flex;
  border: 2px solid black;
  padding: 10px 10px;
  align-items: center;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin-right: 60px;
  line-height: 0.1;
}

.card img {
  margin-right: 10px;
}
.info {
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.container {
  border: 2px solid black;
  padding: 1px 10px;
  margin: 10px;
  box-sizing: border-box;
  margin-right: 60px;
}

.text {
  font-size: 30px;
  margin-bottom: 3px;
  margin-top: 3px;
}
.pac {
  margin-top: 60px;
}

#color {
  text-align: center;
}

.credit-card1 {
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
}

.card-type1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-number1 {
  font-size: 18px;
  margin-bottom: 20px;
}

.card-info1 {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}

.card-owner {
  font-size: 18px;
  text-align: right;
}
.tarjeta {
  display: flex;
  margin-top: 40px;
  margin-left: 10px;
  gap: 6vw;
}

.rating {
  font-size: 56px;
  margin-top: 20px;
}

.driver-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 18px;
  background-color: rgb(74, 93, 176);
  margin-bottom: 3px;
  margin-top: 30px;
  margin-right: 60px;
  margin-left: 60px;
}

.driver-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.driver-info h2 {
  margin-bottom: 5px;
  font-size: 18px;
}

.driver-info p {
  margin: 0;
  font-size: 14px;
}

.like-buttons-container {
  display: flex;
  gap: 60px;
  margin-top: 20px;
}

.like-button {
  display: flex;
  width: 100px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: #fff;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-button:hover {
  filter: brightness(1.2);
}
.picture {
  width: 600px;
}

.dice {
  cursor: pointer;
  width: 100px;
}

.dice img {
  width: 100%;
  margin: 30px;
}

hr {
  border: 2px solid #000;
  margin: 20px 0;
}
